@model List<HotelStay.Models.Rooms>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count > 0)
{

<table class="table table-striped table-responsive" style="width:100%;">
    <tr>
        <th style="text-align:center;" width="20%"></th>
        <th style="text-align:center;">
            <label asp-for="@Model.FirstOrDefault().Name"></label>
        </th>
        <th style="text-align:center;">
            <label asp-for="@Model.FirstOrDefault().Price"></label>
        </th>
        <th style="text-align:center;">
            <label asp-for="@Model.FirstOrDefault().RoomTypes.Name"></label>
        </th>
        <th style="text-align:center;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="padding:50px;">
            <td>
                <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                    <img src="@item.Image" class="img-fluid" style="width:100%;margin:auto;display:block;border-radius:5px;" />
                </a>
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(r => item.Name)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(r => item.Price)
            </td>
            <td style="text-align:center;">
                @Html.DisplayFor(r => item.RoomTypes.Name)
            </td>
            <td style="text-align:center;">

            </td>
        </tr>
    }

</table>

}
else
{
    <div>No Rooms added to the shopping cart ...</div>
}